<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" >DeveloperEvaluation</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">Produtos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Carrinho</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Sair</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container text-center mt-5">
   <!--  <h1>Bem-vindo à Home</h1>
    <p>Esta é uma página inicial simples com uma navbar responsiva.</p> -->
    <img src="assets/img/ambev.jpg" alt="Ambev" class="img-fluid">    
</div>